@use "sass:map";
@use "@db-ui/foundations/build/scss/init" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;
@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "../../styles/button-components";
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/icon/icons.placeholder" as *;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as *;
@use "@db-ui/foundations/build/scss/icon/icons.variables" as *;

@mixin get-border-and-icon($colors) {
	&:not(&[data-type="strong"]) {
		--db-current-border-color: #{map.get($colors, "border")};
	}
}

%tag-colors {
	@extend %db-bg-neutral-4;

	&[data-type="strong"] {
		@extend %db-neutral-component;
	}

	@each $name, $colors in $component-variants {
		&[data-variant="#{$name}"] {
			@if ($name == "critical") {
				@extend %db-bg-critical;

				&[data-type="strong"] {
					@extend %db-critical-component;
				}
			} @else if ($name == "informational") {
				@extend %db-bg-informational;

				&[data-type="strong"] {
					@extend %db-informational-component;
				}
			} @else if ($name == "warning") {
				@extend %db-bg-warning;

				&[data-type="strong"] {
					@extend %db-warning-component;
				}
			} @else if ($name == "successful") {
				@extend %db-bg-successful;

				&[data-type="strong"] {
					@extend %db-successful-component;
				}
			}

			@include get-border-and-icon($colors);
		}
	}
}

@mixin interactive {
	&:has(input:checked),
	.db-button:not(.db-tab-remove-button):not(.is-icon-text-replace),
	.db-link {
		@content;
	}
}

@mixin tag-types {
	.db-button:not(.db-tab-remove-button):not(.is-icon-text-replace),
	.db-link,
	&:has(input),
	&:has(span) {
		@content;
	}
}

%interactive-colors {
	@include interactive {
		@extend %db-bg-neutral-4-ia;
	}

	&:has(input:not(:checked)) {
		@extend %db-bg-neutral-0-ia;
	}

	&[data-type="strong"] {
		@include interactive {
			--db-colors-neutral-on-bg-hover: #{$db-colors-neutral-on-enabled};
			--db-colors-neutral-on-bg-pressed: #{$db-colors-neutral-on-enabled};
			@extend %db-neutral-component-ia;
		}
	}

	@each $name, $colors in $component-variants {
		&[data-variant="#{$name}"] {
			@if ($name == "critical") {
				@include interactive {
					@extend %db-bg-critical-ia;
				}

				&[data-type="strong"] {
					@include interactive {
						@extend %db-critical-component-ia;
					}
				}
			} @else if ($name == "informational") {
				@include interactive {
					@extend %db-bg-informational-ia;
				}

				&[data-type="strong"] {
					@include interactive {
						@extend %db-informational-component-ia;
					}
				}
			} @else if ($name == "warning") {
				@include interactive {
					@extend %db-bg-warning-ia;
				}

				&[data-type="strong"] {
					@include interactive {
						@extend %db-warning-component-ia;
					}
				}
			} @else if ($name == "successful") {
				@include interactive {
					@extend %db-bg-successful-ia;
				}

				&[data-type="strong"] {
					@include interactive {
						@extend %db-successful-component-ia;
					}
				}
			}

			@include interactive {
				@include get-border-and-icon($colors);
			}
		}
	}
}

%db-tag {
	@extend %focus-placeholder;
	@extend %default-interactive-component;
	@extend %component-border;
	@extend %db-body-sm;
	@extend %default-button;

	padding-block: 0;

	block-size: $db-sizing-sm;
	min-inline-size: $db-sizing-sm;
	inline-size: fit-content;
	transition: background-color $db-transition-color,
		color $db-transition-color;

	input {
		@include a11y-visually-hidden();
	}

	label,
	span {
		@extend %db-body-sm;
		margin-inline-start: 0;
	}

	&:has(span) {
		@extend %tag-colors;
	}
}

%interactive-icon-passing {
	&:not(:has(span)) {
		// only for interactive elements link/button/checkbox/radio
		&[data-icon] {
			&::before {
				// don't show default icon
				display: none;
			}
		}

		@each $icon-name, $icon-glyph in $icon-glyphs {
			&[data-icon="#{$icon-name}"] {
				label,
				.db-button:not(.db-tab-remove-button):not(
						.is-icon-text-replace
					),
				.db-link {
					&::before {
						@extend %icon;
						content: "#{$icon-glyph}";
						margin-inline-end: var(
							--icon-margin-after,
							#{$db-spacing-fixed-2xs}
						);
					}
				}
			}
		}
	}
}

%no-text {
	&[data-no-text="true"] {
		@include tag-types {
			--icon-margin-after: 0;
			@include is-icon-text-replace();
			padding: 0;

			label,
			span {
				@include is-icon-text-replace();
			}
		}
	}

	&:not(&[data-no-text="true"]) {
		@include tag-types {
			padding-inline: $db-spacing-fixed-2xs;
		}

		&:has(.db-tab-remove-button) {
			padding-inline-end: 0;
		}
	}
}

.db-tag {
	--icon-margin-after: #{$db-spacing-fixed-2xs};
	@extend %interactive-colors;
	@extend %interactive-icon-passing;
	@extend %no-text;

	display: flex;

	@include tag-types {
		@extend %db-tag;
		text-decoration: none;

		&::after {
			display: none !important;
		}
	}

	a {
		display: inline-flex;
	}

	&[data-overflow="true"] {
		span,
		label,
		a,
		button {
			max-inline-size: $db-sizing-2xl;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&[data-disabled="true"] {
		opacity: $default-opacity;
		pointer-events: none;
	}

	.db-tab-remove-button {
		&:is(button),
		button {
			block-size: 100%;
		}
	}
}
