/* Add styles for component here */
@charset "utf-8";
// jscpd:ignore-start
@use "sass:map";
@use "@db-ui/foundations/build/scss/default.assets-paths" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/icon/icons.helpers" as *;
// @use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/helpers/font" as *;
@use "@db-ui/foundations/build/scss/color-placeholder" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;

:root,
.db-ui-regular,
.db-ui-expressive {
	// jscpd:ignore-end
	--db-textarea-disabled-label-opacity: 0.25;
}

.db-ui-functional {
	--db-textarea-disabled-label-opacity: 0;
}

.db-textarea {
	--db-textarea-padding-end-icon-after: 0;
	--db-textarea-end-data-variant: 0;
	--db-textarea-padding-end-datalist: 0;
	--icon-margin-after: 0;
	--db-textarea-label-max-width: 80%;
	--db-textarea-padding-end-data-variant: 1;
	--db-textarea-padding-inline-start: #{$db-spacing-fixed-sm};

	position: relative;
	display: flex;
	flex-direction: column;

	.db-infotext {
		padding-block-start: var(--db-spacing-fixed-2xs);
		padding-inline-start: var(--db-spacing-fixed-sm);
	}

	label {
		@extend %default-color;
		// top: $db-spacing-fixed-xs;
		display: flex;
		align-items: center;
		font-size: var(--db-type-body-font-size-xs);
		padding-block-end: var(--db-spacing-fixed-xs);
		padding-inline-start: var(--db-spacing-fixed-sm);

		cursor: text;
		max-inline-size: var(--db-textarea-label-max-width, 80%);

		span:first-child {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	.description {
		@extend %db-overwrite-font-size-xs;
		// @extend %db-body-xs;
		margin: $db-spacing-fixed-2xs $db-spacing-fixed-sm 0;

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	textarea {
		@extend %bg-transparent-hover;
		@extend %default-interactive-component;
		@extend %component-border;
		@extend %db-body-md;
		@include get-variant-bg-color(0.08);

		// height: $db-sizing-md;
		max-inline-size: 100%;
		inline-size: 100%;
		padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-sm);

		// TODO: Evaluate whether those could get moved to ../_form-elements.scss
		&:disabled,
		fieldset:disabled & {
			&,
			& label {
				// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
				opacity: 0.25;
				pointer-events: none;
			}
		}

		&:required {
			label::after {
				content: " *";
				padding-inline-start: 0.2rem;
			}
		}

		// disabled and prefilled value – different in tonalities
		&:disabled:not(:placeholder-shown) {
			label {
				opacity: var(--db-textarea-disabled-label-opacity);
			}
		}

		// Hiding textarea placeholder for floating label
		&::placeholder {
			opacity: 0;
		}

		&:focus {
			&::placeholder {
				opacity: 0.5;
			}
		}
	}

	// #variations
	.icon-state {
		--icon-textarea-margin-inline-end: calc(
			(
					var(--db-textarea-padding-end-icon-after) +
						var(--db-textarea-padding-end-datalist)
				) * #{$db-sizing-md} + #{$db-spacing-fixed-sm} -
				var(--db-textarea-padding-end-datalist) * #{$db-spacing-fixed-sm} -
				var(--db-textarea-padding-end-icon-after) * #{$db-spacing-fixed-sm}
		);
		--icon-font-family: var(--db-base-icon-font-family-filled);
		--icon-font-size: var(--db-base-icon-font-size);
		display: flex;
		align-items: center;
		flex-direction: row;
		position: absolute;
		inset-block-start: 0;
		block-size: $db-sizing-md;

		pointer-events: none;
		inset-inline-end: 0;

		margin-inline-end: var(--icon-textarea-margin-inline-end);

		&::before {
			--icon-font-family: var(--db-base-icon-font-family-filled);
			--icon-font-size: var(--db-base-icon-font-size);
		}

		// angular specific nesting
		> .db-icon {
			position: static;
			padding: 0;

			// TODO: Check whether we could find a more general solution for this
			&::before {
				--icon-font-family: var(--db-base-icon-font-family-filled);
				--icon-font-size: var(--db-base-icon-font-size);
			}
		}
	}

	textarea:required:invalid:not(:placeholder-shown),
	textarea[aria-invalid="true"] {
		@extend %adaptive-critical-component;
	}

	@each $name, $colors in $component-variants {
		@if ($name == "critical") {
			&[data-variant="critical"] {
				color: nth($colors, 3);
			}
		}

		// jscpd:ignore-start
		& label {
			color: map.get($colors, "on-bg");
		}
		&[data-variant="#{$name}"] textarea {
			--db-current-border-color: #{map.get($colors, "border")};
			@if ($name == "critical") {
				@extend %adaptive-critical-component;
			} @else if ($name == "informational") {
				@extend %adaptive-informational-component;
			} @else if ($name == "warning") {
				@extend %adaptive-warning-component;
			} @else if ($name == "successful") {
				@extend %adaptive-successful-component;
			}

			// jscpd:ignore-end
			// & ~ .db-icon {
			// 	color: $db-colors-informational-on-bg-enabled;
			// }

			& ~ .description,
			& ~ .icon-state,
			& ~ .icon-state .db-icon {
				color: map.get($colors, "element");
			}
		}
	}
}
